<%= page_title "About" %>

<p>This project is my answer to the User Authenticate assignment for the
<%= link_to "Mix & Go | Practical Ruby on Rails for Beginners", "https://school.mixandgo.com/courses/9/curriculum", target: "_blank" %>
course.
</p>

<p>The goal is to provide a blog application built using Ruby on Rails with a simple user authentication feature.</p>

<p>The project home page showcases recent posts created by registered users. Anyone can read each post, but it requires an authenticated user to be able to create or edit their posts</p>